/* ===== Red Style FIFA Card ===== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: linear-gradient(135deg, #000000, #8b3a2f);
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header h1 {
    font-size: 40px;
    margin: 30px 0;
    color: #ff0000;
    text-shadow: 0 0 10px #e48787;
    border: 3px solid #ff0000;
    border-radius: 15px;
    padding: 15px 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

header h1:hover {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 0 25px #b50000;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    max-width: 1250px;
}

.friend {
    background: linear-gradient(145deg, #ff1900, #2c1414);
    width: 240px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
    border: 4px solid #010101;
    box-shadow: 0 8px 25px rgba(255,121,121,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.friend:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
}

.friend .rating {
    font-size: 28px;
    font-weight: bold;
    color: #ff7979;
    margin-bottom: 5px;
}

.friend img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.friend img:hover {
    transform: scale(1.2) rotate(8deg) translateY(-8px);
    box-shadow: 0 12px 25px rgba(36, 27, 27, 0.7);
}

.friend .details p {
    margin: 5px 0;
}

.friend form select,
.friend form textarea,
.friend form input[type="submit"] {
    width: 100%;
    margin: 6px 0;
    padding: 6px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.friend form input[type="submit"] {
    background: #ef9f37;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.friend form input[type="submit"]:hover {
    background: #000000;
}

.comment-box {
    background-color: #f0f0f0;
    padding: 6px;
    margin-top: 6px;
    border-radius: 6px;
}